.subnav h3{font-size: 3rem; font-weight: 700; margin: 250px 0 100px 0;}
.subnav h4{font-size: 1.5rem; font-weight: 500; margin-bottom: 0;}

:root{
    --about_h5_font_size:1.25rem;
    --about_h5_font_weight:600;
    --about_p_font_size:1.1rem;
    

}



img{object-fit: contain; object-position: center;}

.subnav{margin: 200px auto 50px auto; width: 80%;}
.MuiTabs-scroller .MuiTabs-indicator{background-color: #333;}
.MuiTabs-root .MuiTabs-scroller .MuiTabs-flexContainer .Mui-selected{color: rgba(0,0,0,.0);}
.MuiBox-root .MuiTabPanel-root{padding: 100px 0;}



/* About1 기관장 소개 */
.about1Box .intro{width: 90%; margin: 0 auto 200px auto; }
.about1Box .intro h5{font-size: 1.4rem; font-weight: 600; text-align: left;}
.about1Box .introInner{
    display: grid;  
    justify-items: center;
    grid-template-columns: 5fr 1fr;
    /* grid-template-rows:auto; */
    gap: 3%;
    grid-template-areas:
          'a b ';
}

.about1Box .introInner .introInfo{grid-area: a; 
    padding-top: 21%; text-align: justify;}
.about1Box .introInner .introImg{grid-area: b; }
.about1Box .introInner .introImg img{position: relative; width: 400px; object-fit: cover; object-position: center;}
/* .about1Box .introInner .introImg span{position: absolute; top: 3%; left: -40%; color: #57B7F2; font-size: 1.8rem;
    font-weight: 600;} */

.about1Box .introInner .introInfo p{font-size: var(--about_p_font_size); margin-bottom: 10px;}
.about1Box .introInner .introInfo p:nth-of-type(4){margin-bottom: 40px;}
.about1Box .introInner .introInfo p:nth-of-type(4) span{color: #57B7F2; font-weight: 500; }
.about1Box .introInner .introInfo p:nth-of-type(5) span{font-size: 1.3rem; font-weight: 500; margin-left: 5px;}

/* 일반 pc */
@media screen and (max-width:1280px) {
    .about1Box .introInner .introInfo p{font-size: 1rem; margin-bottom: 10px;}
    .about1Box .introInner .introImg img{position: relative; width: 350px;}
}
/* 테블릿 */
@media screen and (max-width:1024px) {
    
    .about1Box .introInner .introInfo p:nth-of-type(4){margin-bottom: 30px;}
    .about1Box .introInner .introImg img{position: relative; width: 300px;}
    .about1Box .introInner{
        display: grid;  
        justify-items: center;
        grid-template-columns: 1fr;
        /* grid-template-rows:auto; */
        gap: 5%;
        grid-template-areas:
              'b '
              'a ';
    }
    .about1Box .intro h5{margin-bottom: 50px; text-align: center;}
    .about1Box .introInner .introInfo{padding-top: 0;}
}





/* About1 기관장 약력 */
.about1Box .profile{width: 100%; margin-bottom: 200px;}
.about1Box .profile h5{font-size: 1.4rem; text-align: center; font-weight: 600; margin-bottom: 150px;}

.about1Box .profile .profileInner{
    display: grid;  
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows:auto; */
    /* gap: 10%; */
    grid-template-areas:
            'a b ';
}

.about1Box .profile .profileInner ul:nth-of-type(1){grid-area: a; 
  width: 100%; padding-right: 6vw;}
.about1Box .profile .profileInner ul:nth-of-type(2){grid-area: b;
    width: 100%; padding-left: 6vw;}

.about1Box .profile .profileInner ul{display: flex; justify-content: space-between; 
    border-top: 2px dashed #eee; }
.about1Box .profile .profileInner ul .profileLIst{position: relative; padding-top: 80px;}
.about1Box .profile .profileInner ul .profileLIst>span{width: 70px; height: 70px; text-align: center; 
    border-radius: 50%; background: #eee; 
    position: absolute; top: -24%; left: 50%; transform: translateX(-50%);}
.about1Box .profile .profileInner ul .profileLIst .profileIco1{font-size: 45px; text-align: center; margin-top: 17%;}
.about1Box .profile .profileInner ul .profileLIst .profileIco2{font-size: 40px; text-align: center; margin-top: 17%;}
.about1Box .profile .profileInner ul .profileLIst .profileIco3{font-size: 50px; text-align: center; margin-top: 17%;}
.about1Box .profile .profileInner ul span{display: block;}
.about1Box .profile .profileInner ul p{text-align: center; font-size: var(--about_p_font_size);}
.about1Box .profile .profileInner ul p span:nth-of-type(2){margin-top: 5px; font-size: 1rem; font-weight: 500;}


/* 일반 pc */
@media screen and (max-width:1280px) {
    .about1Box .profile .profileInner ul:nth-of-type(1){padding-right: 3vw;}
    .about1Box .profile .profileInner ul:nth-of-type(2){padding-left: 3vw;}
    .about1Box .profile .profileInner ul p{font-size: 1rem;}
    .about1Box .profile .profileInner ul p span:nth-of-type(2){margin-top: 5px; font-size: .8rem; font-weight: 500;}
}


/* 테블릿 */
@media screen and (max-width:1024px) {
    .about1Box .profile .profileInner{
        display: grid;  
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40%;
        grid-template-areas:
                'a '
                'b ';
    }
    
    .about1Box .profile .profileInner ul:nth-of-type(1){grid-area: a; 
      width: 100%; padding-right: 3vw;}
    .about1Box .profile .profileInner ul:nth-of-type(2){grid-area: b;
        width: 100%; padding-left: 3vw;}
    .about1Box .profile .profileInner ul .profileLIst{position: relative; padding-top: 7vw;}
    
    
}
/* 소형 테블릿 */
@media screen and (max-width:768px) {
    .about1Box .profile .profileInner{
        gap: 0;
        width: 90%; margin: 0 auto;
       
    }
    
    .about1Box .profile h5{margin-bottom: 0;}
    .about1Box .profile .profileInner ul:nth-of-type(1){padding-right: 0;}
    .about1Box .profile .profileInner ul:nth-of-type(2){padding-left: 0;}

    .about1Box .profile .profileInner ul{display: block; border-top: none; }
    
    .about1Box .profile .profileInner ul .profileLIst{padding-top: 80px; }
    .about1Box .profile .profileInner ul .profileLIst p{text-align: left; margin-left: 100px;}
    .about1Box .profile .profileInner ul .profileLIst p span:nth-of-type(1){margin-right: 10px;}
    .about1Box .profile .profileInner ul .profileLIst>span{width: 50px; height: 50px; 
        text-align: justify; 
        position: absolute; top: 50%; left: 0;}
    
    .about1Box .profile .profileInner ul .profileLIst span{display: inline;}

    .about1Box .profile .profileInner ul .profileLIst .profileIco1{font-size: 35px; text-align: center; margin-left: 17%;
        }
    .about1Box .profile .profileInner ul .profileLIst .profileIco2{font-size: 30px; text-align: center; margin-left: 17%;}
    .about1Box .profile .profileInner ul .profileLIst .profileIco3{font-size: 40px; text-align: center; margin-left: 10%;}
    .about1Box .profile .profileInner .profileLIst{margin-left: 10%;}

}




/* About1 역대 기관장 */
.about1Box .directors{width: 100%; margin: 0 auto; margin-top: 10%; margin-bottom: 100px;}
.about1Box .directors h5{font-size: 1.4rem; text-align: center; font-weight: 600; margin-bottom: 100px; text-align: center;}

.about1Box .directorList{width: 100%; border-collapse: collapse;}
.about1Box .directorList th, .directorList td{font-size: 1.1rem; border: 1px solid #eee; text-align: center; padding: 15px;}
.about1Box .directorList th{background-color: #f2f2f2; font-weight: 500; border-bottom: 1px solid #ddd;}
.about1Box .directorList .directorName{border-right: 1px solid #ddd;}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    .about1Box .directorList th, .directorList td{font-size: .9rem;}
}




/* About2 기관연혁 */

#content .about2Box h5{font-size: 1.4rem; text-align: center; font-weight: 600; margin-bottom: 100px; text-align: center;}

#content .about2Box{position: relative;}
#content .about2Box .menu{display: flex; 
    /* border: 1px solid orange; */
}
#content .about2Box .menu.up{position: static; width: 100%; margin: 0 auto; margin-bottom: 150px;}
#content .about2Box .menu.down{position: fixed; top:100px; left: 50%; transform: translateX(-50%); 
    width: 100%; height: 60px; z-index: 10; background: #fff;
}

#content .about2Box .menu a{width: 33.33%; text-align: center; padding: 15px 0; font-size: 1.2rem;}
#content .about2Box .menu a:nth-of-type(1){margin-left: 25%;}
#content .about2Box .menu a:nth-of-type(3){margin-right: 25%;}
#content .about2Box .menu a:nth-of-type(1),#content .about2Box .menu a:nth-of-type(2){border-right: 1px solid #ccc;}
#content .about2Box .menu a.active{color: #fff; background: #57B7F2;}
#content .about2Box .menu a:hover{background: #57B7F2;}






.about2Box{width: 90%; margin: 0 auto; 
    /* border: 1px solid red; */
}
.about2Box .timeBox{
    display: grid;  
    justify-items: center;
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows:auto;
    gap: 100px 10px;
    grid-template-areas:
          'a b c '
          'd b e '
          'f b g ';
}

.about2Box .timeBox .imgBox20{grid-area: a;}
.about2Box .timeBox .timeline{grid-area: b;}
.about2Box .timeBox .timeTxt20{grid-area: c;}
.about2Box .timeBox .timeTxt90{grid-area: d;}
.about2Box .timeBox .imgBox90{grid-area: e; }
.about2Box .timeBox .imgBox70{grid-area: f; }
.about2Box .timeBox .timeTxt70{grid-area: g; }


.about2Box .timeBox .timeline span{display: block; width: 2px; background: #ddd; 
    margin: 0 auto; margin-bottom: 7px; }
.about2Box .timeBox .timeline span:nth-of-type(1){height: 28%;}
.about2Box .timeBox .timeline span:nth-of-type(2){height: 37%;}
.about2Box .timeBox .timeline span:nth-of-type(3){height: 30%;}
.about2Box .timeBox .timeline .icoSnow{color: #57B7F2;}



.about2Box .timeBox .imgBox20{margin-left: auto;}
.about2Box .timeBox .imgBox20 img{width: 100%; height: 170px; object-fit: cover; object-position: center;
    /* border: 1px solid green;  */
}
.about2Box .timeBox .imgBox0{position: relative;}
.about2Box .timeBox .imgBox0 img{border-radius: 10px;}
.about2Box .timeBox .imgBox0 p{ color: #fff; position: absolute; 
    font-size: 2rem; font-weight: 600;}
.about2Box .timeBox .imgBox20 p{top: 0; right: 10px;}

.about2Box .timeBox .imgBox90{margin-right: auto;}
.about2Box .timeBox .imgBox90 img{width: 100%; height: 170px; object-fit: cover; object-position: center; }
.about2Box .timeBox .imgBox90 p{top: 0; left: 10px;}

.about2Box .timeBox .imgBox70{margin-left: auto;}
.about2Box .timeBox .imgBox70 img{width: 100%; height: 170px; object-fit: cover; object-position: center; }
.about2Box .timeBox .imgBox70 p{top: 0; right: 10px;}


.about2Box .timeBox .timeTxt0{width: 100%;}
.about2Box .timeBox .timeTxt0 p{font-size: var(--about_p_font_size);}
.about2Box .timeBox .timeTxt0 ul>li>span{display: block; font-size: 1.3rem; font-weight: 600; margin-bottom: 10px; color: #57B7F2;
    /* border: 1px solid lightgreen; */
}
.about2Box .timeBox .timeTxt0 li p span{font-size: 1.1rem; font-weight: 600; color: #57B7F2; 
    /* border: 1px solid violet; */
}
.about2Box .timeBox .timeTxt0 li li span{font-size: 1.1rem; font-weight: 600; color: #57B7F2; 
    /* border: 1px solid violet; */
}
.about2Box .timeBox .timeTxt0>ul>li>p{margin-bottom: 50px; 
    /* border: 1px solid blue; */
}
.about2Box .timeBox .timeTxt20 li li:nth-of-type(2) p{margin-bottom: 50px; 
    /* border: 1px solid orange; */
}
.about2Box .timeBox .timeTxt20 ul li:nth-of-type(2) li:nth-of-type(1) p{margin-bottom: 5px; 
    /* color: red; */
}
.about2Box .timeBox .timeTxt20 ul>li:nth-of-type(3) p{margin-bottom: 0;
    /* color: pink; */
}
.about2Box .timeBox .timeTxt90{text-align: right;}
.about2Box .timeBox .timeTxt90 ul>li li:nth-last-of-type(2){margin-bottom: 5px;
    /* color: green; */
}
.about2Box .timeBox .timeTxt70 ul>li:nth-of-type(4) p{margin-bottom: 0;
    /* color: pink; */
}


/* 테블릿 */
@media screen and (max-width:1024px) {
    .about2Box .timeBox .timeTxt0 p{font-size: 1rem;}
    .about2Box .timeBox .timeTxt0 ul>li>span{font-size: 1.2rem;}
    .about2Box .timeBox .timeTxt0 li p span{font-size: 1rem;}
    .about2Box .timeBox .timeTxt0 li li span{font-size: 1rem;}

}



/* 소형 테블릿 */
@media screen and (max-width:768px) {
    .about2Box .timeBox{
        display: grid;  
       
        grid-template-columns: auto;
        grid-template-rows:auto;
        gap: 50px;
        grid-template-areas:
              'a '
              'c '
              'e '
              'd '
              'f '
              'g ';
    }
    
    .about2Box{width: 100%;}
    #content .about2Box .menu a{font-size: 1.1rem;}
    .about2Box .timeBox .timeline{display: none;}
    .about2Box .timeBox .imgBox20 img,.about2Box .timeBox .imgBox90 img,.about2Box .timeBox .imgBox70 img{width: 100%; height: 100%; object-fit: cover; object-position: center;}
    .about2Box .timeBox .imgBox20{margin-left: 0;}
    .about2Box .timeBox .imgBox90{margin-right: 0;}
    .about2Box .timeBox .imgBox70{margin-left: 0;}
    .about2Box .timeBox .imgBox20 p{left: 10px;}
    .about2Box .timeBox .imgBox70 p{left: 10px;}
    .about2Box .timeBox .timeTxt90{text-align: left;}
}
    



/* About3 오시는길 */
.about3Box{width: 100%;  }
.about3Box>p:nth-of-type(1){font-size: 1.4rem; text-align: center; font-weight: 600; margin-bottom: 50px;}
.about3Box .meteormapOuter{overflow: hidden;}
.about3Box .meteormapOuter{ margin-bottom: 50px; }
.about3Box .mapInfo{
    display: grid;  
    justify-content: space-around ;
    grid-template-columns: auto;
    gap:10%;
    grid-template-areas:
          'a b';
    width: 80%;
    margin: 0 auto;
         

}

.about3Box .mapInfo .address{grid-area: a; }
.about3Box .mapInfo .transport{grid-area: b; }
.about3Box .mapInfo h5{font-size: 1.2rem; font-weight: var(--about_h5_font_weight);
    margin-bottom: 5px;}
.about3Box .mapInfo p{font-size: var(--about_p_font_size); margin-bottom: 20px;
    }
.about3Box .mapInfo .transport p:nth-of-type(1){padding-bottom: 10px; border-bottom: 1px solid #ccc;}
.about3Box .mapInfo .transport p span:nth-of-type(1){
    border: 2px solid #263c96; padding: 1px 3px; border-radius: 20px;
    
}
.about3Box .mapInfo .transport p span:nth-of-type(2){
    background: #f99d1c; padding: 1px 3px; border-radius: 5px; color: #fff;
}


/* 테블릿 */
@media screen and (max-width:1024px) {
    .about3Box .meteormapOuter {height: 400px; }
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    .about3Box .mapInfo{ 
        grid-template-columns: 1fr;
        gap:0;
        grid-template-areas:
            'a '
            'b';
    }

    .about3Box .mapInfo h5{font-size: 1.1rem;}
    .about3Box .mapInfo p{font-size: 1rem; margin-bottom: 30px;}
    .about3Box .mapInfo .transport p:nth-of-type(1){margin-bottom: 15px;
    }
    
}

/* 모바일 */
@media screen and (max-width:640px) {
    .about3Box .meteormapOuter {height: 300px; }
}

