/* nav 영역 */
    .data .wrapper{
        width: 80%;
        margin: 0 10%;
    }

    .data .nav{
        display: flex;
        gap: 30px;
        width: 100%;
    }

    .data .nav li a{
        font-size: 1.5rem;
        color: #ccc;
        padding-bottom: 10px;
        transition: all .5s ease-out;
    }

    .data .nav li:hover a{
        color: #333;
    }
    .data .nav li a.active{
        color: #333;
        border-bottom: 1px solid #333;
        font-weight: 700;
    }



/* data 공통 영역 */
    .data .data_title{margin: 50px 0;}
    .data .data_title h4{font-size: 1.7rem; margin-bottom: 10px;}
    .data .data_title p{font-size: 1.1rem; margin-bottom: 40px;}


    .data .data-table-container {
        overflow-y: auto;
        overflow-x: auto;
        border: 1px solid #ddd;
        margin-bottom: 150px;
        /* max-width: 100%; */
    }
    .data table{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        min-width: 800px; 
    }
    .data table thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        border-bottom: 1px solid #ccc;
        top: 0;
    }
    
    .data table th{
        padding: 10px 0;
        color: #57B7F2;
        font-weight: 700;
    }
    /* .data tbody tr:nth-child(odd) {
        background: #f2f2f2;
    } */
    tr:nth-child(even) {
        background-color: #f9f9f9;
      }
    .data td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }





  
/* data1 영역 */
    .data1 .data-table-container {
        max-height: 700px; 
    }


    
/* data3 영역 */
    .data3 .data-table-container {
        max-height: 700px; 
        margin-bottom: 10px;
    }
    .data3 td:nth-child(3),td:nth-child(4){
        text-align: left;
    }
    .data3>p{
        text-align: right;
        color: #999;
        margin-bottom: 150px;}