*{ padding: 0; margin: 0; }
ul{ list-style: none; }
a{ text-decoration: none; }

.weather{width:90%; margin: 50px auto;}
.weather h3{font-size: 3rem; text-align: left; padding-top: 200px;}
.weather p{width: 70%; text-align: center; margin: 0 auto; font-size: 1rem; line-height: 2rem; padding: 50px 0;  }
 
.serch_box{margin: 20px auto 50px;}
.weather .serch_box form{display: flex; gap: 20px; padding: 10px 0; justify-content: center;align-items: center; border-bottom: 1px solid #555;}
.weather .serch_box label{font-size: 18px;}
.weather .serch_box input{width: 40%; font-size: 1.2rem; padding:5px 10px; ; border: 0; outline: none;}
.weather .serch_box button{ padding: 5px;font-size: 1.5rem; background-color:transparent; border: 0; color:#57B7F2;cursor: pointer;}
.weather .serch_box .btn_all{color: #333; background-color:transparent;}

.weather ul{overflow: hidden; display: flex; flex-wrap: wrap;}
.weather li{width: 25%;text-align: center;box-sizing: border-box; padding: 10px;}
.weather li img{width:100%;}
.weather li dl{ margin: 15px auto;} 
.weather li dt{font-size:16px ; font-weight: bold; margin-bottom: 10px; color:brown;}
.weather li dd{line-height: 1.5em; font-size: .9rem;}
.weather .message{font-size: 1.5rem; text-align: center; margin-bottom: 30px; color:darkgreen;}