.App{width: 100%; overflow: hidden;;}


header{width: 100%;  padding: 20px 0;
     position: fixed;left: 0; top: 0; z-index: 200; background: #fff; transition: background .5s;}
header h1{width: 180px; height: 70px; margin: 0 auto 30px auto;}
nav ul{display: flex; justify-content: space-evenly;}
nav{width: 98%; margin: 0 auto; font-family: "Roboto";box-sizing: border-box;}
nav a{font-size: 1.3rem; font-weight: 600;  display: block; text-decoration: none; color: #333;}
.active{color: #57B7F2;}
header button{position: absolute; right: 20px;top:30px; cursor: pointer;background: none; display: none;}
header button .ico{ font-size: 2rem; }

header button{position: absolute; right: 10px; top: 12px; height: 50px; z-index:110 ; display: none;}
header button span{
    width: 25px;
    height: 3px;
    background: #333;
    position: relative;
    text-indent: -9999px;
    display: block;
    margin: 26px 15px;
    transition: all .3s;
    }
    header button span::before{
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background: #333;
    position: absolute;
    top: -7px;
    left: 0;
    transition: all .3s; 
    }
    header button span::after{
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 7px;
    left: 0;
    transition: all .3s;
        }

    /* 메뉴가 열렸을때 */
   
    header button span, header button span::before, header button span::after { 
        content: '';
        width: 25px;
        height: 3px;
        background: #333;
    }
    header button span, header button span::before, header button span::after {
        content: '';
        width: 25px;
        height: 3px;
        background: #333;
    }
    
    header button.mn_open span {
        background: rgba(0,0,0,0);
     }
    header button.mn_open span::before {
        transform: rotate(45deg);
        top: 0;
    }
    header button.mn_open span::after {
        transform: rotate(-45deg);
        top: 0;
    }

.ch h1{float: left; padding-left:50px; }
.ch nav{padding-top: 25px; margin: 0;}
.ch nav ul{padding-left: 250px;}





footer{padding: 50px; background: #f3f3f3; }
footer .F_top .dropup-center{position: relative; float: right; margin-right: 50px;}
footer .F_top .dropup-center p{text-align: center; font-weight: 500; padding-top: 20px;}
footer .F_top .dropup-center button{padding: 15px 20px; display: block;font-size: 1.1rem; 
    border-radius: 15px; background: #999; color: #fff; 
     border: 1px solid #ccc; cursor: pointer; transition: all .5s;}
footer .F_top .dropup-center button span{font-size: 1.2rem;}
footer .F_top .dropup-center ul{position: absolute;width: 100%;left:0; bottom:125px; text-align: center; 
    background: #fff; border-radius: 15px;}
footer .F_top .dropup-center ul li a{padding: 10px; font-size: 1rem; transition: all .5s;}
footer .F_top .dropup-center ul li a:hover{background: #777; border-radius: 15px; color: #fff;}
footer .F_top .dropup-center ul.show{opacity: 1; transition: all .5s;}
footer .F_top .dropup-center ul.hide{opacity: 0;  transition: all .5s;}



footer .top_move{display: flex; width: 55px; height:55px;justify-content: center;align-items: center;
    background: #57B7F2; color: #fff ; font-size: 1rem; border-radius: 50%; position:fixed;
    bottom: 80px; right: 50px; opacity: 0; transition: all .5s; z-index: 100;}


footer .F_bottom ul{width: 100%; display: flex; gap: 20px; padding: 20px 0;}
footer .F_bottom span{font-size: .8rem;}
footer .top_move.up{ opacity: 0;}
footer .top_move.down{opacity: 1;}

footer .top_move.down:hover{width: 45px; height: 45px; background: orange; box-shadow:0px 0px 20px 5px orange ;}
footer .top_move.down:hover span{display: none;}



@media screen and (max-width:1280px) {
    .ch nav ul { padding-left: 100px;}
    nav a {font-size: 1.2rem; }

}



@media screen and (max-width:1024px) {
    header{height: 60px;}
    header .header_inner{display: block;}
    header .header_inner nav{width: 100%; background:#fff;position: absolute; left:0; top:100px; 
       height: 0; overflow: hidden;  transition: all .5s; }
    header .header_inner nav.show{height:100vh;}
    header .header_inner nav.hide{height: 0;}
    header .header_inner nav ul{display:block;padding: 70px 0; }
    header .header_inner nav ul li{width:100%; text-align: center;}
    header .header_inner nav ul li a{padding: 30px 0; transition:all .5s ;}
    header .header_inner nav ul li a:hover{color:#57B7F2 ;}
    header button{display: block;}
    .ch nav{padding-top:0;}

}

@media screen and (max-width:800px) {
    footer{padding: 30px;}
    footer .F_top .dropup-center{margin-top: 20px; margin-right: 0;}
    footer .F_top .dropup-center p{display: none;}
    footer .F_top .dropup-center button{padding: 15px 30px;}
    footer .F_bottom ul{flex-wrap: wrap; gap: 1%; text-align: center; padding: 20px;}
    footer .F_bottom ul li{width: 49%;}
    footer .F_bottom ul li a{padding: 10px;}
    footer .F_top .dropup-center ul {bottom: 55px;}

}






