
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* 
   font-family: 'Roboto', sans-serif; 
   font-family: "Noto Sans KR", sans-serif;
*/

* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
-webkit-text-size-adjust:none;  }
html{font-size: 16px;}
body {font-family: "Noto Sans KR", sans-serif; color:#333;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video {border:0; vertical-align:top; }
a{color:#333;text-decoration:none; display: block; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }
p,li,dd{ line-height:1.5em}
.hidden{display: block; position: absolute; left:-1000%; top:0; width: 1px; height: 1px;overflow: hidden; color: #fff;}
